@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

@font-face {
    src: local("Labor Union"), url(LaborUnion-Regular.ttf');
    format("truetype");
}

* {
    box-sizing: border-box;
}

body {
    font-size: 14px;
}

.landing-container {
    height: 100vh;
    width: 100vw;
    background-image: url("flag_background.png");
    display: flex;
    align-items: center;
    justify-content: center;
}

.login-container {
    display: flex;
    flex-direction: column;
    width: 20.625rem;
    height: 23.438rem;
    background: rgba(217,217,217,1);
    border-radius: 40px;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    align-items: center;
    justify-content: space-evenly;
}

.logo {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.logo img {
    width: 70%;
}

.buttons {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    gap: 10px;
}

.buttons > button {
    display: flex;
    width: 85%;
    height: 50px;
    background: #2d3436;
    color: #252525;
    text-align: center;
    border-radius: 10px;
    align-items: center;
    justify-content: center;
    font-family: "Open Sans", sans-serif;
    font-weight: bold;
    font-size: 16px;
}
